# Copy this file to .env and fill in your API keys
AZURE_OPENAI_API_KEY=your_api_key_here
AZURE_OPENAI_ENDPOINT=https://sentimentscope-oai-svc.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-11-20

NEWS_API_KEY=your_news_api_key_here
